.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fieldCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compCont {
  margin: 5%;
}
