.camCont {
  display: grid;
  grid-template-columns: 1fr;
}
.camCont * {
  padding: 50px;
  grid-row-start: 1;
  grid-column-start: 1;
  gap: 2;
  border: 2px;
}
.angleCont {
  display: flex;
  justify-content: center;
}
.captureCont {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.camFlip {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 20%;
}
.camFlip * {
  z-index: 20;
}

@media screen and (max-width: 600px) {
  .camFlip {
    margin: 0;
  }
}
