.liveCont div {
  /* background-color: red; */
  /* justify-content: center;
  align-items: center; */
}
.camCont {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr;
}
.camCont * {
  padding: 50px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  grid-row-start: 1;
  grid-column-start: 1;
  gap: 2;
  border: 2px;
}
.angleCont {
  /* display: flex;
  flex-direction: row; */
  /* position: absolute; */
  /* top: 500px; */
  /* left: 500px; */
  /* zindex: 10; */
  /* z-index: 10; */

  /* top: 400px; */
  display: flex;
  justify-content: center;
}
.captureCont{
  background-color: red;
}